@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* .container {
  max-width: 600px;
  margin: auto;
  padding: 1rem;
}

.text-input {
  width: 100%;
  min-height: 150px;
  resize: vertical;
  margin-bottom: 2em;
}

.stats {
  display: flex;
  gap: 2em;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.goals {
  margin-top: .5em;
}

h2 {
  font-size: 1.1em;
  margin: 0;
}

p {
  margin: 0;
} */